<!doctype html>
<html>
    <head>
        <title><%= title%></title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <!-- Bootstrap -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <!-- font awesome -->
        <script src="https://use.fontawesome.com/120795d581.js"></script>
        <!-- JQUERY -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <!-- D3 -->
        <script src="https://d3js.org/d3.v4.js"></script>
        <!-- Queries -->
        <script src="/javascripts/api_rapidpro.js"></script>
        <meta charset="utf-8" />
    </head>
    <body>
        <% include navbar.ejs%>
        <div class="container" style="position:relative;padding-top:100px">
            <div class="row">
                <div class="col-md-4">
                    <div class="col-md-12">
                        <h2><strong style="color:#3498DB">Analytics</strong></h2>
                    </div>
                    <div class="col-md-12">
                        <div id="n_users"></div>
                    </div>
                    <div class="col-md-12">
                        <div id="n_messages"></div>
                    </div>
                    <div class="col-md-12">
                        <div id="n_flows"></div>
                    </div>
                </div>
                <div class="col-md-8" id="graph" style="width:500px;height:500px"></div>
            </div>
        </div>
    </body>
    <script>
     $( document ).ready(function() {
         get_users()
         get_messages()
         get_runs()
     });

     window.setInterval(function(){
         $('#graph').html('')
         get_users()
         get_messages()
         get_runs()
     }, 5000);
    </script>
</html>
